.wrapper {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 200vh;
    /* item을 가운데 정렬해야하는데, item 길이와 posision 
    길이가 같이 잡혀서 가운데로 오지 않음
    height: 100vh; 높이 공간을 설정해줌 */
}


.box {
    color: white;
    background:palevioletred;
    height: 200px;
    width: 200px;
}