.father {
    display:flex;
    justify-content:space-around;
    height: 200vh;
    /* item을 가운데 정렬해야하는데, item 길이와 posision 
    길이가 같이 잡혀서 가운데로 오지 않음
    height: 100vh; 높이 공간을 설정해줌 */
    align-content: space-between;
}


.child {
    flex-basis: 300px;
    color: white;
    background:palevioletred;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:nth-child(2){
    background:darkorchid;
    flex-grow: 2;
}
