
.father {
    display: grid;
    height: 100vh;
    gap:5px;
    grid-template-columns: max-content min-content;
    grid-auto-rows:100px;
    margin-bottom: 30px;
}   

.item:nth-child(1) {
    background-color: darkviolet;
    justify-self:start;
}

.item:nth-child(2) {
    background-color:lavender;
}
