@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
  }

  header {
    width: 41%;
    height: 100vh;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 190px;
    padding: 5vh 0 72px 72px;
    padding-right: 120px;
    overflow: scroll;
    position: fixed;
  }

  h1 {
    width: 50%;
    font-size: 60px;
    color: #E7473C;
  }

  .header_p1 {
    width: 80%;
    font-size: 20px;
    color: #E7473C;
    text-align: justify;
  }

  p {
    width: 80%;
    font-size: 15px;
    font-weight: bold;
    color: #E7473C;
    text-align: justify;

  }




  nav {
    width: 80%;

  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  
  li {
    list-style: none;
    margin-right:16px;
    font-size: 13px;
    font-weight: bold;
    color:rgb(79, 79, 79);
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(79, 79, 79);
    margin-bottom: 10px;
  }

  li:hover {
    cursor: pointer;
    color:rgb(0, 0, 0);
  }



  .header_p2 {
    font-size: 12px;
    font-weight: bold;
    color:rgb(139, 139, 139);
  
  }



  main {
    background-color: #E7473C;
    height: 3000vh;
    margin-left: 41%; 
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    z-index: 1;
  }

.section_header {
  background-color: #E7473C;
  height: 20%;
  width: 55%;
  display: flex;
  justify-content: center;  
  border-bottom: 1px solid #96221981;
  padding-bottom: 50px;
  position: fixed;
  left: 39%;
  z-index: 2;
}

h3 {
  color: #F0F0F0;
  font-size: 18px;
  font-weight: 500px;
  padding-top: 30px;
}

span {
  text-decoration: underline;
  color: #791912;
}

span:hover {
  color: #F0F0F0;
}


.move {
  display: flex;  
}

.section_h1 {
  color: #F0F0F0;
  font-weight: bold;
}

.section_p {
  color: #F0F0F0;
}